@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.form-control {
	box-shadow: none;
	border-radius: 4px;
}	
.navbar {
	background: #9F5449;
	padding-left: 16px;
	padding-right: 16px;
	border-bottom: 1px solid #EB9762;
	border-radius: 0;
}
.nav-link img {
	border-radius: 50%;
	width: 36px;
	height: 36px;
	margin: -8px 0;
	float: left;
	margin-right: 10px;
}
.navbar .navbar-brand {
	padding-left: 10px;
	font-size: 20px;
  margin-top: 5px;
	padding-right: 50px;
  font-weight: 500;
  letter-spacing: 5px;
  font-family: 'Josefin Sans', cwtexyen, sans-serif;
}

.navbar .navbar-brand b {
	color: #4F3A41;
  font-weight: 700;
}
.navbar .form-inline {
	display: inline-block;
}
.navbar .navbar-nav {
	position: relative;
}
.navbar a, .navbar a:active {
	color: #F4F4F4;
	font-size: 16px;
	background: #9F5449;
  padding-right: 7px;
}
.navbar a:hover {
	color: #EB9762;
}
.search-box {
	position: relative;
}	
.search-box input {
	padding-right: 45px;
	border-color: #dfe3e8;
	border-radius: 4px !important;
	box-shadow: none;
  background: #F4F4F4;
}
.search-box .input-group-text {
	min-width: 35px;
	border: none;
	background: transparent;
	position: absolute;
	right: 0;
	z-index: 9;
	padding: 7px;
	height: 100%;
}
.search-box i {
	color: #1B0E0C;
	font-size: 20px;
}
.navbar .btn-login .fa-solid, .navbar .btn-logout .fa-solid{
  margin-right: 5px;
}
.navbar .btn-login, .navbar .btn-login:active {
	color: #F4F4F4;
	padding-top: 8px;
	padding-bottom: 6px;
	border-radius: 4px;
	vertical-align: middle;
	border: 1px solid #F4F4F4;
	width: 120px;
	margin: 2px 0;
}
.navbar .btn-logout{
  color: #F4F4F4 !important;
	vertical-align: middle;
  padding: 9px 19px;
	line-height: normal;
}
.navbar .btn-logout:hover{
  color: #EB9762;
}
.navbar .btn-login:hover, .navbar .btn-login:focus {		
	color: #F4F4F4;
	background: #EB9762 !important;
  border: 1px solid #EB9762;
}

.navbar .action-buttons .dropdown-toggle::after {
	display: none;
}
.search-box .btn span {
	transform: scale(0.9);
	display: inline-block;
}
.navbar .nav-item i {
	font-size: 18px;
}
.navbar .dropdown-item i {
	font-size: 16px;
	min-width: 22px;
}
.navbar .dropdown-menu {
	border-radius: 1px;
	border-color: #9F5449;
	box-shadow: 0 2px 8px rgba(0,0,0,.05);
  background: #9F5449;
}
.navbar .navbar-nav .dropdown-menu a {
	padding: 9px 19px;
	line-height: normal;
}
.navbar .navbar-form {
	border: none;
}
.navbar .navbar-form-wrapper {
	padding: 0 15px;
}
/*responsive*/
@media (min-width: 1200px){
	.form-inline .input-group {
		width: 300px;
		margin-left: 30px;
	}
}
@media (max-width: 768px){
	.navbar .form-inline {
		display: block;
	}
	.navbar .input-group {
		width: 100%;
	}
	.navbar .navbar-nav .btn-primary, .navbar .navbar-nav .btn-primary:active {
		display: block;
	}
}