body {
    background-color: #eee
}

.bdge {
    height: 21px;
    background-color: orange;
    color: #fff !important;
    font-size: 11px;
    padding: 8px;
    border-radius: 4px;
    line-height: 3px;
    text-decoration: none !important;
}

.comments {
    text-decoration: underline;
    text-underline-position: under;
}

.dot {
    height: 7px;
    width: 7px;
    margin-top: 3px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    text-decoration: none;
}

.hit-voting:hover {
    transform: scale(1.3);
}

.hit-voting {
    cursor: pointer;
    font-size: 60px !important;
    transition: 0.3s;
    padding: 10px;
    text-decoration: none !important;
}